@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');

body {
  font-family: 'Modern Antiqua', cursive;
  
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  
  background:#F09819;
  background: -webkit-linear-gradient(#EDDE5D,#F09819);
  background: linear-gradient(to down,#EDDE5D,#F09819);
}

:root {
  --size1:100px;
  --letra1:30px;
}

.box {
  border:1px solid black;
  width:var(--size1);
  height:var(--size1);
  
  display:flex;
  justify-content:center;
  align-items:center;
  
  font-size:var(--letra1);
  
  cursor:pointer;
  
  background:#D31027;
  background: -webkit-linear-gradient(to right, #EA384D, #D31027);
  background: linear-gradient(to bottom,#EA384D, #D31027);
  color:white;
  
  animation: shake 1s ease-in;
  animation-iteration-count: infinite;   
}


@keyframes shake {
  
  0% {
    
    transform:translate(0);
    
  }
  
  20%,40%,60%,80% {
    transform:translate(.8em);
    box-shadow:0px 6px 20px rgba(0,0,0,0.5);
  }
  
  10%,30%,50% {
    transform:translate(-.2em);
  }
  
  70%,100% {
    transform:translate(0);
  }
  
}
  



